<app-nav-bar/>

<div class="container col-xxl-8 px-4 py-5 d-flex vh-100">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-10 col-lg-6 d-flex justify-content-center">
      <img src="{{imageUrl}}" class="d-block mx-lg-auto img-fluid" alt="Rick and Morty middle finger" loading="lazy">
    </div>
    <div class="col-lg-6">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h2 class="fw-bold display-5">Ernest Magriñá</h2>
        </div>
      </div>

      <div class="lc-block mb-3">
        <div editable="rich">
          <p class="lead">
            Frontend and DevOps developer specialized in creating interactive web applications. Expertise in React, Next.js, Angular, and cloud infrastructure management. Passionate about delivering exceptional user experiences.
          </p>
          <ul class="mt-5">
            <li>Version: 0.0.1</li>
            <li>Date: 2023/07/011</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
