<app-nav-bar />

<div class="container col-xxl-10 px-4 py-5 d-flex vh-100 w-100">
  <div class="row g-8 py-5 mt-1">
    <div class="col-lg-12">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <app-card-character
          *ngFor="let character of characters"
          [character]="character"
        ></app-card-character>
      </div>
    </div>
  </div>
  <img
    class="img-info-character"
    src="{{ imageUrl }}"
    alt="Image help new character"
  />
</div>
<button
  type="button"
  class="btn btn-success btn-floating btn-lg"
  id="btn-botoom-right"
  data-bs-toggle="modal"
  data-bs-target="#createEditCharacterModal"
  (click)="openModal()"
>
  +
</button>

<app-modal-layout
  [modalTitle]="'Create Character'"
  [isModalOpen]="isModalOpen"
  (modalClosed)="closeModal()"
>
  <app-create-edit-form [isEditMode]="false"/>
</app-modal-layout>
