<header>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-height"
  >
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <a
          class="navbar-brand font-weight-bolder d-flex flex-row align-items-center"
          routerLink=""
        >
          <img
            src="{{ imageUrl }}"
            alt="Logo"
            class="d-inline-block align-text-top logo-image"
          />
          <p class="m-0 ms-2">Rick and Morty</p>
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end text-bg-dark"
        tabindex="-1"
        id="offcanvasNavbar"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Menu</h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul
            class="navbar-nav flex-grow-1 d-flex justify-content-center align-items-md-right align-items-lg-center pe-3"
          >
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/characters"
                routerLinkActive="active"
                >Characters</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active"
                >About</a
              >
            </li>
          </ul>
          <form class="d-flex mt-3 align-items-center" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-success" type="submit">Search</button>
          </form>
          <button class="btn btn-outline-danger mt-3 mx-4" (click)="onClick()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
