  <app-nav-bar/>

  <div class="container col-xxl-8 px-4 py-5 d-flex vh-100">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-10 col-lg-6">
          <img src="{{imageUrl}}" class="d-block mx-lg-auto img-fluid" alt="Rick and Morty middle finger" loading="lazy">
        </div>
        <div class="col-lg-6">
          <div class="lc-block mb-3">
            <div editable="rich">
              <h2 class="fw-bold display-5">Rick and Morty: Multiverse Mayhem</h2>
            </div>
          </div>

          <div class="lc-block mb-3">
            <div editable="rich">
              <p class="lead">
                "Rick and Morty" is a clever and humorous adult animated series that follows the adventures of a brilliant scientist and his naive grandson through different dimensions.
              </p>
            </div>
          </div>

          <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
            <a class="btn btn-primary px-4 me-md-2" routerLink="/characters" role="button">Search for characters</a>
            <a class="btn btn-outline-secondary px-4" routerLink="/about" role="button">About Me</a>
          </div>

        </div>
      </div>
    </div>

