<app-nav-bar />
<div class="container col-xxl-8 px-4 py-5 d-flex vh-100">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-10 col-lg-6 d-flex justify-content-center">
      <img
        class="mx-lg-auto img-fluid"
        [src]="characterImageUrl"
        alt="Image character"
        [hidden]="!isLoadingImage"
      />

      <img
        class="mx-lg-auto img-fluid"
        [src]="character.image || characterImageUrl"
        alt="Image character"
        (load)="onImageLoad()"
        [hidden]="isLoadingImage"
      />
    </div>
    <div class="col-lg-6">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h2 class="fw-bold display-5">{{ character.name }}</h2>
        </div>
      </div>

      <div class="lc-block mb-3">
        <div editable="rich">
          <!-- Los span los usamos para resaltar -->
          <p class="lead">
            The ID <span class="fw-bold">{{ character.id }}</span
            >, also known as <span class="fw-bold">{{ character.name }}</span
            >, was created in
            <span class="fw-bold">{{ character.created | date }}</span
            >. They are a character from
            <span class="fw-bold">{{ character.origin }}</span
            >. Currently, they are located in
            <span class="fw-bold">{{ character.location }}</span> and their
            status is <span class="fw-bold">{{ character.status }}</span
            >. They are a
            <span class="fw-bold">{{ character.species }}</span> of
            <span class="fw-bold">{{ character.gender }}</span> gender.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Boton de borrar characters -->
<button
  type="button"
  class="btn btn-danger btn-floating btn-lg"
  id="btn-botoom-right"
  (click)="deleteCharacter(character.id)"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-trash3-fill"
    viewBox="0 0 16 16"
  >
    <path
      d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
    />
  </svg>
</button>

<!-- Boton de editar characters -->
<button
  type="button"
  class="btn btn-warning btn-floating btn-lg"
  id="btn-top-right"
  data-bs-toggle="modal"
  data-bs-target="#createEditCharacterModal"
  (click)="openModal()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    fill="currentColor"
    class="bi bi-pencil-square"
    viewBox="0 0 16 16"
  >
    <path
      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
    />
    <path
      fill-rule="evenodd"
      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
    />
  </svg>
</button>

<app-modal-layout
  [modalTitle]="'Edit Character'"
  [isModalOpen]="isModalOpen"
  (modalClosed)="closeModal()"
>
  <app-create-edit-form [isEditMode]="true" [idCharacter]="character.id"/>
</app-modal-layout>
