<app-auth-layout>
  <!-- Sign In Form -->
  <div class="col-md-9 col-lg-8 mx-auto">
    <h3 class="login-heading mb-4">Sign in</h3>

    <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          formArrayName="email"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="rememberPasswordCheck"
          formControlName="password"
        />
        <label class="form-check-label" for="rememberPasswordCheck">
          Remember password
        </label>
      </div>

      <div class="d-grid">
        <button
          class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
          type="submit"
        >
          Sign in
        </button>
        <div class="text-center">
          <a class="small" routerLink="/auth/login">Do you already have an account? Log in</a>
        </div>
      </div>
    </form>
  </div>

  </app-auth-layout>
